AutoRestart             {{ postfix_opendkim_AutoRestart }}
AutoRestartRate         {{ postfix_opendkim_AutoRestartRate }}
LogWhy                  {{ postfix_opendkim_LogWhy }}
Syslog                  {{ postfix_opendkim_Syslog }}
SyslogSuccess           {{ postfix_opendkim_SyslogSuccess }}
Mode                    {{ postfix_opendkim_Mode }}
Canonicalization        {{ postfix_opendkim_Canonicalization }}
ExternalIgnoreList      {{ postfix_opendkim_ExternalIgnoreList }}
InternalHosts           {{ postfix_opendkim_InternalHosts }}
KeyTable                {{ postfix_opendkim_KeyTable }}
SigningTable            {{ postfix_opendkim_SigningTable }}
SignatureAlgorithm      {{ postfix_opendkim_SignatureAlgorithm }}
Socket                  {{ postfix_opendkim_Socket }}
PidFile                 {{ postfix_opendkim_PidFile }}
UMask                   {{ postfix_opendkim_UMask }}
UserID                  {{ postfix_opendkim_UserID }}
TemporaryDirectory      {{ postfix_opendkim_TemporaryDirectory }}
