# {{ ansible_managed }}

########################################################## Server SASL
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtpd_sasl_authenticated_header = yes
{% if 'home' in group_names %}
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/dovecot-auth
{% endif %}
smtpd_sasl_local_domain = $mydomain

######################################################### Server Identity
setgid_group = postdrop
mail_owner = postfix
myorigin = $mydomain

myhostname = {{ ansible_fqdn }}

mydomain = {{ ansible_domain }}

{% if 'relay' not in group_names %}
mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain
{% else %}
mydestination =
{% endif %}

{% if 'relay' in group_names %}
mynetworks = 127.0.0.0/8 {{ hostvars[groups['home'][0]]['ansible_default_ipv4']['address'] }} {{ hostvars[groups['bups'][0]]['ansible_default_ipv4']['address'] }}
{% endif %}

######################################################### TLS Parameters
tls_random_source = dev:/dev/urandom

smtpd_tls_auth_only = yes
smtpd_tls_received_header = yes
smtpd_tls_session_cache_database = btree:${data_directory}smtpd_scache
smtpd_tls_ask_ccert = yes
smtpd_tls_cert_file = {{ postfix_tls_cert_file }}
smtpd_tls_key_file = {{ postfix_tls_key_file }}
smtpd_tls_CAfile = {{ postfix_tls_CAfile }}
smtpd_tls_ciphers = high
smtpd_tls_loglevel = 1
smtpd_tls_mandatory_protocols=!SSLv2,!SSLv3
{% if 'relay' in group_names %}
smtpd_tls_security_level = may
{% else %}
smtpd_tls_security_level = encrypt
{% endif %}

smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_note_starttls_offer = yes
{% if 'relay' in group_names %}
smtp_tls_security_level = may
{% else %}
smtp_tls_security_level = encrypt
{% endif %}

############################################################ SMTP Banner
smtpd_banner = $myhostname ESMTP
smtpd_helo_required = no
#smtpd_helo_restrictions = permit_mynetworks, reject_non_fqdn_helo_hostname,
        #reject_invalid_helo_hostname, reject unknown_helo_hostname, permit
#smtpd_recipient_restrictions = permit_mynetworks,permit_auth_destination,permit_sasl_authenticated,reject
smtpd_recipient_restrictions = reject_unknown_client_hostname, 
        reject_unknown_sender_domain, reject_unknown_recipient_domain,
        reject_unauth_pipelining, permit_mynetworks, permit_sasl_authenticated,
        reject_unauth_destination, reject_invalid_hostname, reject_non_fqdn_sender
smtpd_sender_restrictions = reject_unknown_sender_domain,
        reject_sender_login_mismatch
#smtpd_sender_login_maps = $virtual_mailbox_maps

{% if 'relay' in group_names %}
smtpd_relay_restrictions = permit_mynetworks reject_unauth_destination
{% endif %}

############################################################### Retries
unknown_address_reject_code = 550
unknown_hostname_reject_code = 550
unknown_client_reject_code = 550
unknown_local_recipient_reject_code = 550

{% if 'home' in group_names %}
##################################################### Dovecot and virtual users
home_mailbox = Maildir/
message_size_limit = 40960000
mailbox_size_limit = 0

virtual_mailbox_domains = mysql:/etc/postfix/mysql-virtual-mailbox-domains.cf
virtual_mailbox_maps = mysql:/etc/postfix/mysql-virtual-mailbox-maps.cf
#smtpd_sender_login_maps = mysql:/etc/postfix/mysql-virtual-mailbox-maps.cf
virtual_mailbox_alias_maps = mysql:/etc/postfix/mysql-virtual-alias-maps.cf,mysql:/etc/postfix/mysql-virtual-email2email.cf
virtual_transport = lmtp:unix:private/dovecot-lmtp
{% elif 'relay' in group_names %}
virtual_alias_maps = hash:/etc/postfix/maps/virtual_aliases
{% endif %}

############################################################### Milter
#milter_default_action = accept
#milter_connect_macros = j {daemon_name} v {if_name} _
#non-smtpd_milters = $smtpd_milters
#smtpd_milters = unix:/spamass/spamass.sock
#                unix:/clamav/clamav-milter.ctl
#                unix:/opendkim/opendkim.sock

################################################################ Local Paths
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mailq_path = /usr/bin/mailq.postfix
newaliases_path = /usr/bin/newaliases.postfix
sendmail_path = /usr/sbin/sendmail.postfix

manpage_directory = /usr/share/man
sample_directory = /usr/share/doc/postfix-2.10.1/samples
readme_directory = /usr/share/doc/postfix-2.10.1/README_FILES
html_directory = no

#mail_spool_directory = /var/spool/mail


############################################################### Receiving mail
inet_interfaces = all
inet_protocols = ipv4
#proxy_interfaces = 1.2.3.4

{% if 'relay' in group_names %}
local_recipient_maps =
local_transport = error:local mail delivery is disabled
relay_domains = {{ ansible_domain }}
parent_domain_matches_subdomains = debug_peer_list smtpd_access_maps
relay_recipient_maps = hash:/etc/postfix/maps/relay_recipients
transport_maps = hash:/etc/postfix/maps/transport
{% elif 'bups' in group_names %}
relayhost =
local_transport = error:local mail delivery is disabled
transport_maps = hash:/etc/postfix/maps/transport
{% else %}
relayhost =
transport_maps = hash:/etc/postfix/maps/transport
smtp_fallback_relay = [{{ hostvars[groups['bups'][0]][ ansible_fqdn ] }}]:2525
{% endif %}

#################################################################### Misc
soft_bounce = {{ postfix_soft_bounce }}
broken_sasl_auth_clients = no
biff = no
dovecot_destination_recipient_limit = 1
recipient_delimiter = +
default_destination_concurrency_limit = 5
disable_vrfy_command = yes
relay_destination_concurrency_limit = 1
mailbox_transport = lmtp:unix:private/dovecot-lmtp
append_dot_mydomain = no
